body{
  font-family:"Montserrat";
}

#title{
  background-color: #ff4c68;

}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5em;
  line-height: 1.5;
  color: white;
  font-weight: 900;
}
p{
  color:#8f8f8f;
}
h3{
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

h2{
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
}
.title-img{
  width: 60%;
  transform: rotate(25deg);
}

.nav-item{
  margin: 2% 3%;
}

.container-fluid{
  padding: 3% 10%;
}

.navbar{
  margin: 0 0 4.5rem 0;
}
.navbar-brand{

  font-size: 2.5em;
  font-family:"Ubuntu";
  font-weight: bold;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.fa-circle-check{
  color: #ef8172;
  margin-bottom: 1.5rem;

}
.fa-bullseye{
  color:#ef8172;
  margin-bottom: 1.5rem;
}
.fa-heart{
  color: #ef8172;
  margin-bottom: 1.5rem;
}

i:hover{
    color: #ff4c68;

  }
#features{
  padding: 7% 15%;
}
.ft-box{
  text-align: center;
  padding: 5% 0 5% 5%;

}

/* Testimonials Section */

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;

}

.testimonial-img{
  border-radius: 100%;
  width: 15%;
  margin: 50px 20px 10px;
}
.carousel-item{
    padding: 7% 15%;
}
/* Press Section */

#press{

  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-img{
  margin: 20px 20px 50px;
  width: 12%;
}


/* pricing Section */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 2% 3%;
}
